.container{
  margin-top: 200px;
  
}
h2{
  font-size: 80px;
}
button{
  margin-left: 245px;
  margin-bottom: 20px;
}
@media (max-width: 973px) {
  button{
    margin-left: 110px;
  }
}

@media (max-width: 763px) {
  button{
    margin-left: 65px;
  }
}
@media (max-width: 576px) {
  h2{
    font-size: 50px;
  }
  button{
    margin-left: 20px;
  }
}
